@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);

@theme {
	--color-dark-gray: #121212;
	--color-gray: #202020;
	--color-light-gray: #686868;
	--color-custom-white: #f3f3f3;
	--color-primary-red: #d21313;
	--font-impostor: 'New Rocker', 'serif';
	--font-primary: 'Platypi', 'serif';
	--font-secondary: 'Inter', 'Helvetica', 'sans-serif';
	--button-radius: 8px;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 8px;
		height: 6px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: var(--color-gray);
		border-radius: 100vh;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.impostor-title {
	user-select: none;
	font-family: var(--font-impostor);
	font-size: 3.5rem;
	color: var(--color-gray);
	opacity: 90%;
	text-transform: uppercase;
	line-height: 1.2;
}

.settings-subtitle {
	font-family: var(--font-secondary);
	font-weight: 500;
	color: var(--color-light-gray);
	font-size: 1.5rem;
}

/* CATEGORY BUTTON */
.category-selected {
	background-color: var(--color-custom-white);
	color: var(--color-gray);
}

.category-unselected {
	background-color: transparent;
	color: var(--color-custom-white);
}
